{% extends 'base.html' %}

{% block content %}
    {{ komunikat }}
<table>
    <tr>
        <th>Name</th> <th>Capacity</th> <th>Projector</th> <th>Reservations</th> <th>Modify</th> <th>Delete</th> <th>Book</th>
    </tr>
    <tr>
        <td>{{ room.name }} </td>
        <td>{{ room.capacity }}</td>
        <td>{{ room.projector }}</td>
        <td> {% include 'reservation_list.html' %}</td>
        <td><a href="/room/modify/{{ room.id }}">Modify</a></td>
        <td><a href="/room/delete/{{ room.id }}">Delete</a></td>
        <td><a href="/room/reserve/{{ room.id }}">Book</a></td>
    </tr>
</table>

{% endblock %}